.category {
  display: flex;
  gap: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
}

.actions {
  display: flex;
  align-items: center;
}

.sort {
  margin-left: auto;
  width: fit-content;
}

.filter {
  @media screen and (max-width: $breakpoint-desktop) {
    display: none;
  }
}

.filter-menu-btn {
  display: none;
  @media screen and (max-width: $breakpoint-desktop) {
    display: flex;
  }
}
