.breadcrumb {
  margin-bottom: 30px;
  display: flex;
  color: black;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  text-transform: capitalize;

  @media screen and (max-width: $breakpoint-tablet) {
    gap: 6px;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 4px;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;

  &:hover,
  &:focus-within {
    opacity: 1;
  }
}
