.profile {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.logout {
  width: max-content;
  margin-left: auto;

  @media screen and (max-width: $breakpoint-mobile) {
    width: 100%;
    margin-left: none;
  }
}
