.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-family: $font-primary;
  font-size: $font-size-body;
  font-weight: $font-weight-regular;
  line-height: inherit;
  text-transform: capitalize;
  text-align: center;
  text-wrap: pretty;
  cursor: pointer;
}

.primary {
  padding: 15px 30px;
  color: $color-text-inverted;
  background-color: $color-primary;
  border-radius: $radius-xl;

  &:hover,
  &:focus {
    color: $color-text;
    background-color: $color-background-secondary;
  }
}

.secondary {
  padding: clamp(10px, 0.4957rem + 0.5305vw, 12px) clamp(20px, 0.9914rem + 1.061vw, 24px);
  color: $color-text;
  background-color: $color-background-secondary;
  border-radius: $radius-xl;

  &:hover,
  &:focus {
    color: $color-text-inverted;
    background-color: $color-primary;
  }

  &.active {
    color: $color-text-inverted;
    background-color: $color-primary;
  }
}

.outline {
  padding: clamp(13px, 0.6832rem + 0.5305vw, 15px) 80px;
  background-color: transparent;
  border: 1px solid rgba($color: $color-primary, $alpha: 10%);

  &:hover,
  &:focus {
    background-color: $color-background-secondary;
  }

  &.active {
    color: $color-text-inverted;
    background-color: $color-primary;
  }
}

.clear {
  width: auto;
  height: auto;
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.danger {
  color: $color-error;
  background-color: transparent;
  border-radius: $radius-xs;

  &:hover,
  &:focus {
    background-color: rgba($color: $color-error, $alpha: 20%);
  }
}

.ghost {
  color: $color-text;
  background-color: transparent;
  border-radius: $radius-s;

  &:hover,
  &:focus {
    background-color: $color-primary;
    color: $color-text-inverted;
  }
}

.square {
  padding: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 0;
}

.icon {
  width: 32px;
  height: 32px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  overflow: hidden;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.loading {
  pointer-events: none;
  opacity: 0.8;
}

.loader {
  width: 22px;
  height: 22px;
  display: inline-block;
  border: 3px solid $color-text-inverted;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
