.search {
  position: relative;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.header-row {
  display: flex;
  align-items: center;
  gap: 14px;
}

.search-input {
  width: 100%;
}

.catalog {
  position: absolute;
  top: 60px;
  width: 100%;
  padding: 16px 4px;
  background-color: $color-background-primary;
  border: 1px solid $color-background-secondary;
  border-radius: $radius-m;
  z-index: 100;
  overflow: hidden;
}

.list {
  max-height: 60vh;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  overflow-y: auto;

  @media screen and (max-width: $breakpoint-desktop) {
    max-height: 70vh;
  }
}
