.promo-anner {
  font-size: $font-size-caption;
  line-height: clamp(1rem, 0.9304rem + 0.2857vw, 1.1875rem);
  color: inherit;
  text-align-last: center;
  white-space: nowrap;
}

.link {
  border-bottom: 1px solid;
}
