.topbar {
  padding: 9px 0;
  display: flex;
  background-color: $color-primary;
  color: $color-text-inverted;

  .close {
    @media screen and (max-width: $breakpoint-tablet) {
      display: none;
    }
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner {
  margin: 0 auto;
  font-size: $font-size-caption;
  line-height: clamp(1rem, 0.9304rem + 0.2857vw, 1.1875rem);
  color: inherit;
  text-align: center;
  text-align-last: center;
  white-space: nowrap;
}

.link {
  border-bottom: 1px solid;
}

.hide {
  display: none;
}
