.order-item {
  display: flex;
  gap: 14px;

  @media screen and (max-width: $breakpoint-mobile-mini) {
    flex-direction: column;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
