.link {
  display: inline-flex;
  justify-content: center;
  text-wrap: nowrap;
  text-transform: capitalize;
  text-align: center;
}

.clear {
  opacity: 1;

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.underline {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 2px;
    background-color: currentcolor;
    transform: scale(0);
    transform-origin: 100% 50%;
    transition: transform 0.25s ease-out;
  }

  &:hover,
  &:focus {
    &::after {
      transform: scale(1);
      transform-origin: 0 50%;
    }
  }
}

.outline {
  padding: 15px 80px;
  border: 1px solid $color-background-secondary;
  border-radius: $radius-xl;
  text-transform: capitalize;

  &:hover,
  &:focus {
    background-color: $color-background-secondary;
    border-color: rgba($color: $color-primary, $alpha: 50%);
  }
}

.primary {
  padding: 14px 28px;
  color: $color-text-inverted;
  text-align: center;
  background-color: $color-primary;
  border-radius: $radius-xl;
  border: 1px solid $color-primary;

  &:hover,
  &:focus {
    color: $color-text;
    background-color: $color-background-secondary;
  }
}
