.field {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: $radius-xl;

  &:hover {
    opacity: 0.6;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    padding: 11px 16px;
  }
}

.input {
  flex-grow: 1;
  font-size: $font-size-body;
  font-weight: $font-weight-regular;
  background: inherit;

  &::placeholder {
    color: rgba($color: $color-primary, $alpha: 40%);
  }
}

.addon {
  line-height: 1;
  color: rgba($color: $color-primary, $alpha: 40%);
}

.primary {
  background-color: $color-background-secondary;
}

.secondary {
  background-color: $color-background-primary;
}
