// Цвета
$color-primary: #000;
$color-error: #f33;
$color-background-primary: #fff;
$color-background-secondary: #f0f0f0;
$color-text: #000;
$color-text-inverted: #fff;
$color-star: #ffc633;

// Шрифты
$font-primary: 'Satoshi', sans-serif;
$font-secondary: 'Integral CF', sans-serif;

// font-weight
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Размеры
$font-size-display: clamp(36px, 0.4397rem + 7.4271vw, 64px); // баннеры, рекламные блоки
$font-size-title-large: clamp(32px, 0.9655rem + 4.244vw, 48px); // Большие заголовки
$font-size-title-medium: clamp(24px, 0.4655rem + 4.244vw, 40px); // Средние заголовки
$font-size-title-small: clamp(24px, 0.7241rem + 3.183vw, 36px); // Маленькие заголовки
$font-size-heading: clamp(26px, 1.2371rem + 1.5915vw, 32px); // Заголовки разделов
$font-size-subheading: clamp(16px, 0.7414rem + 1.061vw, 20px); // Подзаголовки
$font-size-body-large: clamp(20px, 0.9914rem + 1.061vw, 24px); // Крупный текст
$font-size-body: clamp(14px, 0.7457rem + 0.5305vw, 16px); // Основной текст
$font-size-caption: clamp(12px, 0.6207rem + 0.5305vw, 14px); // Подписи, вспомогательный текст

// Радиус
$radius-xs: 14px;
$radius-s: 20px;
$radius-m: 40px;
$radius-l: 62px;

// z-index
$zindex-modal: 1000;

// Breakpoints для различных устройств
$breakpoint-desktop: 1023px; // Для десктопов
$breakpoint-tablet: 767px; // Для планшетов
$breakpoint-mobile: 480px; // Для мобильных устройств
