.images-swiper-wrapper {
  max-width: 610px;
  max-height: 530px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-shrink: 0;
  gap: 14px;
  overflow: hidden;

  @media screen and (max-width: $breakpoint-desktop) {
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    flex-direction: column-reverse;
  }
}

.swiper-slide {
  border-radius: $radius-m;
  overflow: hidden;
}

.images-swiper-thumbs {
  .swiper-slide {
    max-width: clamp(110px, 4.1667rem + 11.1111vw, 152px);
    max-height: clamp(106px, 2.627rem + 16.4021vw, 168px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    cursor: pointer;

    &.swiper-slide-thumb-active {
      border: 1px solid #000;
    }
  }
}

.images-swiper-main {
  max-width: 444px;
  width: 100%;
  flex-grow: 1;
}
