.skeleton {
  width: 100%;
  height: auto;
  background-color: $color-background-secondary;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  overflow: hidden;
}

.img {
  background-color: $color-background-secondary;
}

@keyframes pulse {
  50% {
    opacity: 0.4;
  }
}

.xs {
  border-radius: $radius-xs;
}

.s {
  border-radius: $radius-s;
}

.m {
  border-radius: $radius-m;
}

.l {
  border-radius: $radius-l;
}

.xl {
  border-radius: $radius-xl;
}
