@use 'reset';
@use 'fonts';

html {
  font-size: 16px;
}

* {
  transition:
    opacity 0.1s ease-out,
    background-color 0.1s ease-out,
    color 0.1s ease-out;
}

body {
  font-family: $font-primary;
  font-size: $font-size-body;
  font-weight: $font-weight-regular;
  line-height: normal;
  color: $color-primary;
}

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1280px;

  @media screen and (max-width: $breakpoint-mobile) {
    padding: 0 16px;
  }
}

/* Стилизуем всю полосу прокрутки */
::-webkit-scrollbar {
  width: 3px; /* Ширина вертикальной полосы прокрутки */
  height: 3px; /* Высота горизонтальной полосы прокрутки */
}

/* Стилизуем трек полосы прокрутки (фоновая часть) */
::-webkit-scrollbar-track {
  background-color: #e6e6e6; /* Цвет фона */
}

/* Стилизуем ползунок полосы прокрутки */
::-webkit-scrollbar-thumb {
  background-color: #8d8b8b; /* Цвет ползунка */
}

/* Стилизуем ползунок при наведении */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Цвет ползунка при наведении */
}

/* Стилизуем стрелки полосы прокрутки (не во всех браузерах) */
::-webkit-scrollbar-button {
  display: none; /* Скрыть кнопки */
}
