.payment-card {
  padding: 6px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-skeleton;
  border-radius: $radius-xs;
}

.small {
  width: 54px;
  height: 30px;
}

.big {
  width: 72px;
  height: 40px;
}
