.brands {
  display: flex;
}

.nav {
  width: 200px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 32px;
}

.list {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
}

.item {
  padding: 8px;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: $color-background-secondary;
  }
}

.content {
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
