.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.color {
  width: 22px;
  height: 22px;
  display: inline-block;
  border-radius: $radius-l;
  border: 1px solid $color-skeleton;
}
