.card {
  padding: 24px 12px;
  max-width: 600px;
  min-width: 300px;
  width: 100%;
  min-height: 90vh;
  background-color: $color-background-primary;
  border: 1px solid rgba($color: $color-primary, $alpha: 10%);
  border-radius: $radius-s;
}
