.actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 14px;
  line-height: 0;
}

.search-action {
  display: none;

  @media screen and (max-width: $breakpoint-desktop) {
    display: list-item;
  }
}

.search-menu {
  max-width: 100%;
  display: none;

  @media screen and (max-width: $breakpoint-desktop) {
    display: flex;
  }
}

.search-card {
  width: 100vw;
  height: 100vh;
  margin-top: 100px;
}

.search-header {
  display: flex;
  align-items: center;
  gap: 24px;
}

.cart {
  position: relative;
}

.count {
  position: absolute;
  top: -10px;
  right: -15px;
  min-width: 25px;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  color: $color-text-inverted;
  background-color: $color-primary;
  border: 3px solid $color-background-primary;
  border-radius: $radius-s;
}
