.actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 14px;
  line-height: 0;
}

.search-action {
  display: none;

  @media screen and (max-width: $breakpoint-desktop) {
    display: list-item;
  }
}

.search-menu {
  max-width: 100%;
  display: none;

  @media screen and (max-width: $breakpoint-desktop) {
    display: flex;
  }
}

.search-card {
  width: 100vw;
  height: 90vh;
}
